// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by an AGPL-3.0-style license
// that can be found in the LICENSE file.

@import '../common';

.wrapper {
  overflow: hidden;
}

.insert-btn {
  margin: 0 1.2em;
}

.insert-btn, .delete-btn {
  opacity: .5;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-number {
  flex-shrink: 0;
  text-align: center;
  font-size: 19px;
  line-height: 1.2em;
  margin: 8px 8px 12px 8px;
  width: 3em;
}

.entry-number:before, .entry-number:after {
  font-size: 1.2em;
}

.entry-number:before {
  content: '[';
}

.entry-number:after {
  content: ']';
}

.content {
  flex-grow: 1;
  text-align: center;
  margin: 0 6em;

  // Settings this forces the content to not overflow the entry.
  min-width: 0;
}

.configure > material-button {
  background: $primary;
  margin: .5em .29em;
  padding: 0 .8em;
  color: white;
  font-weight: bold;
}

.substitute-input {
  display: flex;
  width: auto;
  text-align: left;
  margin-bottom: 2em;
}
