<div #wrapper class="wrapper" style="height: 0;">
  <div>
    <material-button (click)="onInsert()" class="insert-btn" aria-label="insert" icon>
      <glyph icon="unfold_more"></glyph>
    </material-button>
  </div>
  <div class="entry">
    <div class="entry-number">{{data.index}}</div>
    <div class="content" [ngSwitch]="data.type.index">
      <div class="configure" *ngSwitchWhen="0">
        <material-button raised
          (click)="configure(1)">Symbol table</material-button>
        <material-button raised
          (click)="configure(2)">Definition</material-button>
        <material-button raised
          (click)="configure(3)">Apply definition</material-button>
        <material-button raised
          (click)="configure(4)">Numeric simplify</material-button>
      </div>
      <div *ngSwitchWhen="1">
        <symbol-table [symbols]="data.symbols"></symbol-table>
      </div>
      <div *ngSwitchWhen="2">
        <equation-editor
          [data]="data.definedEquation"
          [latex]="data.currentExpression"
          (onUpdate)="data.eqInput.add($event)">
        </equation-editor>
      </div>
      <div *ngSwitchWhen="3">
        <material-input
          spellcheck="false"
          class="substitute-input"
          type="text" label="substitute"
          displayBottomPanel="false"
          leadingText="Apply"
          [(inputText)]="applyText"
          (change)="updateApply()">
        </material-input>
        <latex [expression]="data.currentExpression"></latex>
      </div>
      <div *ngSwitchWhen="4">
        <latex [expression]="data.currentExpression"></latex>
      </div>
    </div>
    <material-button (click)="onDelete()" class="delete-btn" aria-label="delete" icon>
      <glyph icon="delete"></glyph>
    </material-button>
  </div>
</div>
