<div class="container" (click)="edit()" (focus)="edit()" tabindex="{{tabindex}}">
  <material-input #input [hidden]="!editable"
    [class.format-exception]="formatException"
    type="text" displayBottomPanel="false"
    [(inputText)]="data.v"
    (change)="update()"
    (blur)="hide()">
  </material-input>
  <div [hidden]="editable">
    <latex [expression]="latex"></latex>
  </div>
</div>
