// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by an AGPL-3.0-style license
// that can be found in the LICENSE file.

material-input {
  display: flex;
  width: auto;
  font-family: monospace;
  font-size: 1.2em;
}

material-input.format-exception {
  color: #f44336;
}

[hidden] {
  display: none !important;
}

.container {
  min-height: 1em;
}

.container:focus {
  outline: none;
}
