<div id="list">
  <notebook-entry
    *ngFor="let entry of entries; let i = index;"
    [data]="entry"
    (typeChanged)="updateType(i, $event)"
    (entryInsert)="insertEntry(i)"
    (entryDelete)="deleteEntry(i)">
  </notebook-entry>
</div>
<material-fab (click)="addEntry()" id="add-entry" aria-label="add" raised>
  <glyph icon="add"></glyph>
</material-fab>
