// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by an AGPL-3.0-style license
// that can be found in the LICENSE file.

@import '../common';

#list {
  max-width: $sheetw;
  margin: 2em auto 5em auto;
}

#add-entry {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background: $primary;
  color: white;
}
