<table class="symbols-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>LaTeX</th>
      <th>Rendered</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let symbol of symbols; let i = index;">
      <td>
        <material-button (click)="addSymbol(i)"
            aria-label="insert" icon>
          <glyph icon="add"></glyph>
        </material-button>
      </td>
      <td>
        <material-input
          spellcheck="false"
          type="text" displayBottomPanel="false"
          [(inputText)]="symbol.name"
          (change)="updateSymbol(i)">
        </material-input>
      </td>
      <td>
        <material-input
          spellcheck="false"
          type="text" displayBottomPanel="false"
          [(inputText)]="symbol.latex"
          (change)="updateSymbol(i)">
        </material-input>
      </td>
      <td class="symbols-latex-rendered">
        <span #renderedSymbol></span>
      </td>
      <td>
        <material-button (click)="removeSymbol(i)"
            aria-label="remove" icon>
          <glyph icon="remove"></glyph>
        </material-button>
      </td>
    </tr>
  </tbody>
</table>
