// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by an AGPL-3.0-style license
// that can be found in the LICENSE file.

.symbols-table {
  padding: 1em;
  margin: 3px auto;
  background-color: #eaeaea;
  border-radius: 3px;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.symbols-table material-button {
  opacity: .5;
}

.symbols-latex-rendered {
  text-align: center;
}

material-input {
  width: auto;
  max-width: 13em;
}
